body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2, h3 {
    text-align: center;
}

#setup, #game {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

select, input {
    width: 25%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

#scoreBoard table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#scoreBoard th, #scoreBoard td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#actions {
    margin-top: 30px;
}

#actions button {
    width: calc(33% - 10px);
    margin-right: 10px;
    display: inline-block;
}

#turnOrder {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

/* Modal Styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 2; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Base styles for the pool ball button */
.pool-ball-button {
    border: none;
    background: none; /* No background since we're using images */
    cursor: pointer;
    padding: 0;
    margin: 10px;
    display: inline-block;
}

/* Style for the pool ball image inside the button */
.pool-ball-button img {
    width: 100px;  /* Set the size you want for the button */
    height: 100px; /* Adjust based on the image's original dimensions */
}

/* Style for the endGame button */
#endGame {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Makes the button round */
    background-color: #ff3c3c;
    color: white;
    border: none;
    position: fixed;
    top: 20px; /* Positioning at the top */
    right: 20px; /* Positioning at the right */
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

/* Style for pocket buttons */
.pocket-btn {
    border: none; /* Remove default button borders */
    background-color: transparent; /* Remove background */
    cursor: pointer; /* Show pointer cursor on hover */
    padding: 0; /* Remove padding */
}

/* Style for the images inside the buttons */
.pocket-img {
    width: 50px;
    height: 50px;
}



